.card-b-p{
    background-color: black;
}

.playing{
    background-color: black;
}

.playing.collapsed{
    border-radius: 15px;
    bottom: 1px;
    display: flex;
    justify-content: center;
    height: 20vh;
}

.playing .plaing-cover{
    height: 4em;
    border-radius: 15px;
    margin: 0.3em;
}

.names{
    display: flex;
    flex-direction: column;
}

.names .music-name{
    color: rgb(255, 255, 255);
}

.names .producer-name{
    color: rgb(88, 88, 88);
    font-size: small;
}